/* === GERAL === */
body {
  font-family: 'Roboto', sans-serif;
}
.f-pacifico {
  font-family: 'Pacifico', cursive;
}

/* === HEADER === */
.navbar {
  background-color: #03588c;
}

.nav .nav-link.active {
  background-color: #fafdf5;
  color: #03588c;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
  color: #fff;
}

.nav-link {
  transition: 0.3s ease;
}

.nav-link:hover {
  opacity: 0.8;
}

.navbar-toggler {
  background-color: #fafdf5;
}

/* === SOBRE === */
#sobre {
  background-color: #fafdf5;
}
.f-pacifico > span {
  color: #03588c;
}
