/* === GERAL === */
body {
  font-family: 'Roboto', sans-serif;
}
.f-pacifico {
  font-family: 'Pacifico', cursive;
}
.text-colored {
  color: #03588c;
}
.bg-light-blue {
  background-color: #dce4f2;
}

/* === HEADER === */
#cabecalho.navbar {
  background-color: #03588c;
}

#cabecalho .nav .nav-link.active {
  background-color: #dce4f2;
  color: #03588c;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
  color: #fff;
}

.nav-link {
  transition: 0.3s ease;
}

.nav-link:hover {
  opacity: 0.8;
}

.navbar-toggler {
  background-color: #dce4f2;
}

/* === SOBRE === */
.f-pacifico > span {
  color: #03588c;
}

/* === CARDAPIO === */
.nav-cardapio .nav-link.active {
  background-color: #03588c;
  color: #dce4f2;
}

.nav-cardapio .nav-link:hover {
  opacity: 0.8;
}
